<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Open Source GRC</title>
    <link rel="stylesheet" href="styles.css"> <!-- Link to your CSS file if you have one -->
</head>
<body>
    <header>
        <h1>Welcome to Open Source GRC</h1>
    </header>
    <h2>Currently Managed Controls</h2>
    <ul>
        {% for key, value in data.items() %}
            <li><a href="{{ value }}">{{ key }}</a></li>
        {% endfor %}
    </ul>

    <h2>Mapping Data</h2>
    <a href="mappings.html?foo=bar">Mappings</a>
    <ul>
        <li><a href="info.json">JSON</a></li>
        <li><a href="info.csv">CSV</a></li>
    </ul>
</body>
</html>