<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mappings</title>
</head>
<body>
    <h1>Mappings Page</h1>
    <div id="content"></div>

    <script>
        function getQueryParams() {
            const params = {};
            const queryString = window.location.search.substring(1);
            const queries = queryString.split("&");
            queries.forEach(query => {
                const [key, value] = query.split("=");
                params[decodeURIComponent(key)] = decodeURIComponent(value || "");
            });
            return params;
        }

        function displayQueryParams() {
            const params = getQueryParams();
            const contentDiv = document.getElementById("content");
            contentDiv.innerHTML = "<h2>Query Parameters:</h2><ul>";
            for (const key in params) {
                if (params.hasOwnProperty(key)) {
                    contentDiv.innerHTML += `<li>${key}: ${params[key]}</li>`;
                }
            }
            contentDiv.innerHTML += "</ul>";
        }

        function getJsonData()
        {
            json_data = JSON.parse({{ data|tojson|safe }})
            return json_data
        }

        function generateTable() 
        {
            let html = `<table>
                <thead>
                    <tr>
                        <th>Control ID</th>
                        <th>Control Family</th>
                        <th>Mappings</th>
                        <th>Is Complete</th>
                        <th>Path</th>
                    </tr>
                </thead>
                <tbody>`;
            data = getJsonData()
            // Loop through each control in JSON
            for (const key in data) {
                const control = data[key];

                // Convert mappings into a readable string format
                let mappingsList = control.Mappings.map(mappingObj => {
                    return Object.entries(mappingObj).map(([standard, values]) => {
                        return `<strong>${standard}:</strong> ${values.join(", ")}`;
                    }).join("<br>");
                }).join("<br>");

                html += `
                    <tr>
                        <td>${control["Control ID"]}</td>
                        <td>${control["Control Family"]}</td>
                        <td>${mappingsList}</td>
                        <td>${control.IsComplete ? "Y" : "N"}</td>
                        <td><a href="${control.path}" target="_blank">${control.path}</a></td>
                    </tr>`;
            }

            html += `</tbody></table>`;
            const body = document.getElementById('table-container')
            body.innerHTML = html
            
            return html;
        }

        function findMappings(searchValue) {
            let result = {};
            controlData = getJsonData()
            // Loop through each control in the JSON data
            for (const control in controlData) {
                const controlInfo = controlData[control];
                const mappings = controlInfo.Mappings;

                // Check each mapping object
                mappings.forEach(mappingObj => {
                    for (const standard in mappingObj) {
                        if (mappingObj[standard].includes(searchValue)) {
                            // Add the control to the results
                            if (!result[control]) {
                                result[control] = {
                                    "Control ID": controlInfo["Control ID"],
                                    "Control Family": controlInfo["Control Family"],
                                    "path": controlInfo["path"],
                                    "Matched Standard": standard
                                };
                            }
                        }
                    }
                });
            }

            return result;
    }



        window.onload = displayQueryParams;
    </script>
    <div id="table-container"></div>
</body>
</html>
